@media (max-width: 1200px) {
    main .main-menu .tab-content ul li {
        display: inline-block;
        margin-bottom: 10px;
        width: auto;
    }
    header ul.nav li:last-of-type {
        float: none
    }
    main .item-winner:nth-of-type(2) {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-nav>li {
        margin-bottom: 10px;
    }
    header .top-menu-header {
        max-height: none;
        overflow: hidden;
    }
    main .logo-nav-banner button {
        width: 40%;
        margin: 30px 8px;
    }
    main .logo-nav-banner img.logo {
        width: 60%;
        margin: -25px 0;
    }
    main .logo-nav-banner .chain {
        display: none;
    }
    footer {
        padding-top: 20px;
        text-align: center;
    }
    footer .menu-footer {
        border-right-width: 0;
    }
    footer .providers h3:last-of-type {
        margin-top: 65px;
    }
    .menu-footer li {
        display: inline-block;
        margin: 30px;
        padding: 0;
        white-space: nowrap;
    }
    .providers {
        padding-left: 0px;
    }
    main .item-winner:last-of-type {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-for-lg {
        display: none !important;
    }
}

@media (max-width: 769px) {
    .hidden-for-sm {
        display: none;
    }
    .navbar-header {
        text-align: center;
    }
    .navbar-header span {
        margin-left: 0px;
    }
    .navbar-toggle {
        max-width: 50px;
    }
    .navbar-header .logo {
        max-height: 50px;
    }
    header .sign-up {
        position: relative;
        left: 0;
        top: 0;
    }
    header .sign-in {
        margin: 10px 20px;
        float: left;
    }
    header a,
    header a:hover {
        font-size: 20px;
        margin-bottom: 20px;
    }
    main .logo-nav-banner .chain {
        display: block;
        top: -25%;
        right: 15%;
    }
    main .logo-nav-banner .chain:first-of-type {
        left: 25%;
    }
    main .logo-nav-banner img {
        margin-top: 12%;
    }
    #bs-example-navbar-collapse-1 > ul > li > button {
        color: #2f2f2f;
        font-size: 16px;
        border: none;
        width: 50%;
        height: 40px;
        margin: 1% 8px;
        background-image: url('../img/banner-button.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    main .main-menu .arrow-up {
        left: 47%;
    }
    main .main-menu .tab-content ul {
        text-align: center;
    }
    main .main-menu .tab-content ul li:nth-of-type(2) {
        width: 90%;
        margin-left: 5px;
    }
}

@media (max-width: 600px) {
    main .top-winners {
        margin-top: 50px;
        height: 120px;
    }
    main .item-winner {
        text-align: center;
        margin-right: 0;
        position: relative;
    }
    main .item-winner div {
        float: none;
    }
}
