/* fonts */
@font-face {
  font-family: open-sans;
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: helvetica-lt;
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf"); }
@font-face {
  font-family: helvetica-md;
  src: url("../fonts/HelveticaNeueLTStd-Md.otf"); }
@font-face {
  font-family: helvetica-roman;
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf"); }
header {
  background-image: url("../img/sign-in-up-background.png");
  background-repeat: no-repeat; }
  header .top-menu-header {
    text-align: center;
    padding: 15px 0;
    max-height: 60px; }
  header input {
    border: none;
    font-family: helvetica-lt;
    margin-left: 17px;
    padding: 3px 0 2px 12px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #d7dddd 100%); }
  header a,
  header a:hover {
    color: #fff;
    font-size: 12.5px;
    font-family: helvetica-lt; }
  header span {
    font-size: 20.83px;
    color: #f0ea4d;
    font-family: helvetica-md;
    margin-left: 210px; }
  header .sign-up {
    width: 183px;
    height: 77px;
    font-size: 33px;
    position: absolute;
    background-image: url("../img/sign-up-button.png");
    background-repeat: no-repeat;
    border-bottom-left-radius: 100% 18px;
    border-bottom-right-radius: 100% 20px;
    left: 148px;
    top: 0;
    padding-bottom: 10px; }
  header .sign-in,
  header .sign-up {
    color: #094a64;
    font-family: helvetica-md;
    border: none; }
  header .sign-in {
    margin: 0 20px;
    padding: 4px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f3f0a0 0%, #efe93e 100%); }

main {
  background-image: url("../img/background-main.png");
  background-repeat: no-repeat; }
  main .logo-nav-banner {
    text-align: center; }
    main .logo-nav-banner img {
      max-width: 100%; }
      main .logo-nav-banner img.logo {
        margin: 0 40px;
        width: 26%; }
      main .logo-nav-banner img.banner {
        position: relative;
        top: -190px; }
    main .logo-nav-banner button {
      color: #2f2f2f;
      font-size: 16px;
      border: none;
      width: 116px;
      width: 110px;
      height: 40px;
      margin: 46px 8px;
      font-family: open-sans;
      background-image: url("../img/banner-button.png");
      background-repeat: no-repeat;
      background-size: cover; }
  main .opacity-background {
    background-color: rgba(0, 0, 0, 0.72); }
  main .game-item img {
    max-width: 100%;
    border: 2px solid #363434;
    border-radius: 10px; }
  main .game-item .title {
    text-align: center;
    color: #fff;
    font-size: 16.67px;
    font-family: helvetica-roman; }

footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #252525;
  background-image: linear-gradient(to bottom, #252525 0%, #070808 100%); }
  footer ul {
    list-style: none;
    padding-left: 0; }
  footer .menu-footer li {
    padding: 15px 0; }
  footer .menu-footer a,
  footer .menu-footer a:hover {
    color: #fff;
    font-size: 18.75px;
    font-family: helvetica-lt; }
  footer .providers h3 {
    font-size: 19.75px;
    color: #f2d934;
    font-family: helvetica-lt; }
  footer .providers ul li {
    display: inline-block;
    padding-right: 50px;
    padding-top: 25px; }

.copyright {
  color: #fff;
  background: #252525;
  text-align: center;
  padding: 20px 0; }
  .copyright a,
  .copyright a:hover {
    color: #f2d934; }

/*# sourceMappingURL=style.css.map */
